@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<style>
    .contenedor{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100vh;
        flex-direction:column;
        width:100%;
    }
    .title{
        font-weight:bold;
        letter-spacing:inherit.5em;
    }
</style>


<div class="contenedor animate__animated animate__fadeIn">
    <!--Login-->
    <div class="text-center">
        <h2 class="title">Ferreteria Dyval La Terminal</h2>
    </div><hr />
    <div class="card mb-5" style="width:450px">
        <div class="card-header bg-dark">
            <center>
                <h3 class="text-light">Inicie sesión</h3>
            </center>
        </div>
        <form id="frmLogin">
            <div class="card-body">
                <div id="mensaje">
                </div>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" autofocus id="txtUsuario" placeholder="Escribe tu nombre de usuario" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" id="txtContraseña" placeholder="Escribe tu contraseña" />
                </div>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </div>
        </form>
    </div>
    <p class="animate__animated animate__zoomIn">Parche: 2.7.23</p>
</div>
<script src="~/js/PeticionesAJX/login.js" asp-append-version="true"></script>