
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <link rel="icon" href="~/iconSystem//punto-de-venta.svg" />
    <title>Ferreteria La Terminal</title>
    <style>
        .card {
            box-shadow: 2px 2px 5px #999;
        }
    </style>
    <script>
        function messeges(icons = 'success', titles = 'Exito') {
            Swal.fire({
                position: 'center',
                icon: icons,
                title: titles,
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            @if (ViewBag.Empleados == 0)
            {<!--registrase-->
                                <div class="col-lg-12 col-sm-12">
                                    <div class="text-center">
                                        <h2>Ferreteria La Terminal&reg;</h2>
                                    </div><hr />
                                    <div class="card" style="box-shadow: 2px 2px 5px #999;">
                                        <div class="card-header bg-dark">
                                            <h3 class="card-title text-light">Registrate </h3><span class="text-light">[Por ser el primero en registrarte tendrás el rol de Administrador]</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-sm-12">
                                                    <label>Nombre:</label>
                                                    <input type="text" autocomplete="off" autofocus class="form-control requerid data" placeholder="Escriba el nombre" name="nombrecompleto" id="nombrecompleto" />
                                                </div>
                                                <div class="form-group col-lg-6 col-sm-12">
                                                    <label>Edad:</label>
                                                    <input type="number" autocomplete="off" min="0" class="form-control requerid data" placeholder="Escriba la edad" name="edad" id="edad" />
                                                </div>
                                                <div class="form-group col-lg-6 col-sm-12">
                                                    <label>Telefono:</label>
                                                    <input type="tel" autocomplete="off" min="0" class="form-control requerid data" placeholder="Escriba telefono" name="telefono" id="telefono" />
                                                </div>
                                                <div class="form-group col-lg-6 col-sm-12">
                                                    <label>DUI:</label>
                                                    <input type="text" autocomplete="off" min="0" class="form-control requerid data" placeholder="Escriba el dui" name="dui" id="dui" maxlength="10" />
                                                </div>
                                                <div class="form-group col-lg-6 col-sm-12">
                                                    <label>Nombre usuario:</label>
                                                    <input type="text" autocomplete="off" class="form-control requerid data" id="nombreusuario" name="nombreusuario" placeholder="Escribe el nombre usuario" />
                                                </div>
                                                <div class="form-group col-lg-6 col-sm-12">
                                                    <label>Contraseña:</label>
                                                    <input type="password" autocomplete="off" class="form-control requerid data" id="contraseña" name="contraseña" placeholder="Escribe la contraseña" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <input type="button" class="btn btn-primary" value="Registrar" onclick="Guardar()" />
                                        </div>
                                    </div>
                                </div>
                                                <script src="~/lib/Inputmask-5.x/dist/inputmask.js"></script>
                                                                <script src="~/lib/Inputmask-5.x/dist/jquery.inputmask.js"></script>
                                                                                <script src="~/js/PeticionesAJX/registrar.js"></script>
 }
                                                                            else
                                                                            {<!--Login-->
                                                                                                <div class="col-lg-3 col-sm-12"></div>
                                                                                                                <div class="col-lg-6 col-sm-12">
                                                                                                                    <div class="text-center">
                                                                                                                        <h2>Ferreteria La Terminal&reg;</h2>
                                                                                                                    </div><hr />
                                                                                                                    <div class="card mb-5">
                                                                                                                        <div class="card-header bg-dark">
                                                                                                                            <center>
                                                                                                                                <h3 class="text-light">Inicie sesión</h3>
                                                                                                                            </center>
                                                                                                                        </div>
                                                                                                                        <form id="frmLogin">
                                                                                                                            <div class="card-body">
                                                                                                                                <div id="mensaje">
                                                                                                                                </div>
                                                                                                                                <div class="form-group">
                                                                                                                                    <label>Usuario</label>
                                                                                                                                    <input type="text" class="form-control" autofocus id="txtUsuario" placeholder="Escribe tu nombre de usuario" autocomplete="off" />
                                                                                                                                </div>
                                                                                                                                <div class="form-group">
                                                                                                                                    <label>Contraseña</label>
                                                                                                                                    <input type="password" class="form-control" id="txtContraseña" placeholder="Escribe tu contraseña" />
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="card-footer">
                                                                                                                                <div class="text-center">
                                                                                                                                    <button type="submit" class="btn btn-primary">Entrar</button>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </form>
                                                                                                                    </div>
                                                                                                                    <script src="~/js/PeticionesAJX/login.js"></script>
                                                                                                                </div>
                                                                                                                                <div class="col-lg-3 col-sm-12"></div>}
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
