SET IDENTITY_INSERT [dbo].[PAGINA] ON 

INSERT [dbo].[PAGINA] ([IIDPAGINA], [MENSAJE], [ACCION], [CONTROLADOR], [FECHACREACION], [BHABILITADO], [ICONO]) VALUES (1, N'PERMISOS', N'INDEX', N'TIPOUSUARIO', CAST(N'1901-05-21' AS Date), N'A', N'fas fa-shield-alt')
INSERT [dbo].[PAGINA] ([IIDPAGINA], [MENSAJE], [ACCION], [CONTROLADOR], [FECHACREACION], [BHABILITADO], [ICONO]) VALUES (2, N'EMPLEADOS', N'INDEX', N'EMPLEADO', CAST(N'1901-05-21' AS Date), N'A', N'fas fa-users')
INSERT [dbo].[PAGINA] ([IIDPAGINA], [MENSAJE], [ACCION], [CONTROLADOR], [FECHACREACION], [BHABILITADO], [ICONO]) VALUES (3, N'STOCK', N'INDEX', N'STOCK', CAST(N'1901-05-21' AS Date), N'A', N'fas fa-dolly')
SET IDENTITY_INSERT [dbo].[PAGINA] OFF
SET IDENTITY_INSERT [dbo].[PAGINATIPOUSUARIO] ON 

INSERT [dbo].[PAGINATIPOUSUARIO] ([IIDPAGINATIPOUSUARIO], [IIDPAGINA], [IIDTIPOUSUARIO], [FECHACREACION], [BHABILITADO]) VALUES (1, 1, 1, CAST(N'1900-01-21' AS Date), N'A')
INSERT [dbo].[PAGINATIPOUSUARIO] ([IIDPAGINATIPOUSUARIO], [IIDPAGINA], [IIDTIPOUSUARIO], [FECHACREACION], [BHABILITADO]) VALUES (2, 2, 1, CAST(N'1900-01-21' AS Date), N'A')
INSERT [dbo].[PAGINATIPOUSUARIO] ([IIDPAGINATIPOUSUARIO], [IIDPAGINA], [IIDTIPOUSUARIO], [FECHACREACION], [BHABILITADO]) VALUES (3, 3, 1, CAST(N'1900-01-21' AS Date), N'A')
SET IDENTITY_INSERT [dbo].[PAGINATIPOUSUARIO] OFF
SET IDENTITY_INSERT [dbo].[TIPOUSUARIO] ON 

INSERT [dbo].[TIPOUSUARIO] ([IIDTIPOUSUARIO], [NOMBRETIPOUSUARIO], [DESCRIPCION], [FECHACREACION], [BHABILITADO]) VALUES (1, N'ADMINISTRADOR', N'TIENE TODOS LOS PERMISOS', CAST(N'1900-01-09' AS Date), N'A')
SET IDENTITY_INSERT [dbo].[TIPOUSUARIO] OFF
ALTER TABLE [dbo].[PAGINATIPOUSUARIO]  WITH CHECK ADD FOREIGN KEY([IIDPAGINA])
REFERENCES [dbo].[PAGINA] ([IIDPAGINA])
GO
ALTER TABLE [dbo].[PAGINATIPOUSUARIO]  WITH CHECK ADD FOREIGN KEY([IIDTIPOUSUARIO])
REFERENCES [dbo].[TIPOUSUARIO] ([IIDTIPOUSUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IIDEMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([IIDEMPLEADO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IIDTIPOUSUARIO])
REFERENCES [dbo].[TIPOUSUARIO] ([IIDTIPOUSUARIO])
GO
