
@{
    ViewData["Title"] = "Index";}
<style>
    .btn-link{
        text-decoration:none !important;
    }
</style>
<br />
<div class="row">
    <div id="accordion" class="offset-md-2 col-sm-12 col-md-8">
        <partial name="~/Views/Reporte/_FormularioReporteVenta.cshtml" />
        <partial name="~/Views/Reporte/_FormularioReporteInventario.cshtml"/>
    </div>
</div>
<script src="~/js/PeticionesAJX/reporte.js" asp-append-version="true"></script>