@{ 
    ViewData["Title"] = "Home Page";
 }

<div class="text-center">
    <h1>Ferreteria La Terminal&reg;</h1>
    @if (ViewBag.nombre != null || ViewBag.nombre != "")
    {
        <h5>BIENVENIDO AL SISTEMA @ViewBag.nombre <i class="fas fa-smile"></i></h5>
    }
    @{ if (ViewBag.configuracion == null)
       {
            <div class="row">
                <div class="col-lg-2 col-sm-12"></div>
                <div class="card col-lg-8 col-sm-12">
                    <div class="card-header bg-dark">
                        <h5 class="card-title text-light"><i class="fas fa-cogs"></i> Configuración inicial del sistema.</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Inicio de las facturas:</label>
                                    <input type="number" min="0" id="txtIF" placeholder="Escribe el inicio de las facturas" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Hasta:</label>
                                    <input type="number" min="0" id="txtFF" placeholder="Escribe el fin de las facturas" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Cuantos digitos debe tener:</label>
                                    <input type="number" min="0" id="txtDF" placeholder="Digitos de la factura" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Inicio de las cotizaciones:</label>
                                    <input type="number" min="0" id="txtIC" placeholder="Escribe el inicio de las cotizaciones" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Hasta:</label>
                                    <input type="number" min="0" id="txtFC" placeholder="Escribe el fin de las cotizaciones" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Cuantos digitos debe tener:</label>
                                    <input type="number" min="0" id="txtDC" placeholder="Digitos de la cotizacion" class="form-control" />
                                </div>
                            </div>
                            <!--Credito fiscal-->
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Inicio del credito fiscal:</label>
                                    <input type="number" min="0" id="txtICF" placeholder="Escribe el inicio del credito fiscal" class="form-control r" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Hasta:</label>
                                    <input type="number" min="0" id="txtFCF" placeholder="Escribe el fin del credito fiscal" class="form-control r" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label>Cuantos digitos debe tener:</label>
                                    <input type="number" min="0" id="txtDCF" placeholder="Digitos del credito fiscal" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="saveConfiguracion()">Guardar Configuración</button>
                    </div>
                </div>
            <div class="col-lg-2 col-sm-12"></div>
        </div>
            <script src="~/js/generic.js"></script>
            <script src="~/js/PeticionesAJX/configuracionInicial.js"></script>
       }
       else if (ViewBag.unidad == 0)
       {
            <div class="row">
            <div class="col-lg-4 col-sm-12"></div>
            <div class="card col-lg-4 col-sm-12">
                        <div class="card-header bg-dark">
                            <h5 class="card-title text-light">Recomendación de inicio de sistema.</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                El sistema esta recién instalado, te recomiendo que agregues unidades
                                de medida para poder ingresar productos.
                            </p>
                            <div class="form-group">
                                <label>Nombre de la unidad:</label>
                                <input type="text" class="form-control" placeholder="Escriba el nombre de la unidad" name="nombreunidad" id="nombreunidad" />
                            </div>
                            <button class="btn btn-primary" onclick="sendData()">Agregar unidad</button>
                        </div>
                        <script src="~/js/generic.js"></script>
                        <script>
                            function sendData() {
                                var nombre = $('#nombreunidad').val();
                                if (nombre.trim() != '') {
                                    var frm = new FormData();
                                    frm.append('nombreunidad', nombre.toUpperCase());
                                    frm.append('bhabilitado', 'A');
                                    $.ajax({
                                        url: '/unidadmedida/saveUnidad',
                                        type: 'POST',
                                        contentType: false,
                                        processData: false,
                                        data: frm,
                                        success: function (respuesta) {
                                            if (respuesta > 0) {
                                                Swal.fire({
                                                    title: 'Exito',
                                                    text: 'Unidad guardada',
                                                    icon: 'success',
                                                    showCancelButton: false,
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33'
                                                }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        location.href = '/home/index';
                                                    } else {
                                                        location.href = '/home/index';
                                                    }
                                                })
                                            } else {
                                                messeges('error', "Error de sistema intente mas tarde");
                                            }
                                        }
                                    })
                                } else {
                                    messeges('warning', 'No puedes dejar vacio el campo.')
                                }
                            }
                        </script>
                    </div>
            <div class="col-lg-4 col-sm-12"></div>
        </div>
       }
       else if (ViewBag.stock == 0)
       {
                    <div class="row">
        <div class="col-lg-4 col-sm-12"></div>
        <div class="card col-lg-4 col-sm-12">
            <div class="card-header bg-dark">
                <h5 class="card-title text-light">Recomendación de inicio de sistema.</h5>
            </div>
            <div class="card-body">
                <p>El sistema esta recién instalado, te recomiendo que agregues stock para poder ingresar productos. </p>
            <div class="form-group">
                <label>Nombre del stock:</label>
                <input type="text" class="form-control" placeholder="Escriba el nombre del stock" name="nombrestock" id="nombrestock" />
            </div>
            <button class="btn btn-primary" onclick="sendData()">Agregar stock</button>
        </div>
        <script src="~/js/generic.js"></script>
        <script>
            function sendData() {
                var nombre = $('#nombrestock').val();
                if (nombre.trim() != '') {
                    var frm = new FormData();
                    frm.append('nombrestock', nombre.toUpperCase());
                    frm.append('bhabilitado', 'A');
                    $.ajax({
                        url: '/stock/saveStock',
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: frm,
                        success: function (respuesta) {
                            if (respuesta > 0) {
                                Swal.fire({
                                    title: 'Exito',
                                    text: 'Stock guardado',
                                    icon: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.href = '/home/index';
                                    } else {
                                        location.href = '/home/index';
                                    }
                                })
                            } else {
                                messeges('error', "Error de sistema intente mas tarde");
                            }
                        }
                    })
                } else {
                    messeges('warning', 'No puedes dejar vacio el campo.')
                }
            }
        </script>
        </div>
        <div class="col-lg-4 col-sm-12"></div>
    </div> 
       }
    }

</div>