@{ 
    ViewData["Title"] = "Home Page";
 }

<div class="text-center">
    <h1>Ferreteria La Terminal&reg;</h1>
    @if (ViewBag.nombre != null || ViewBag.nombre != "")
    {
        <h5>BIENVENIDO AL SISTEMA @ViewBag.nombre <i class="fas fa-smile"></i></h5>
    }
    @{ 
       if (ViewBag.configuracion <= 0)
       {
            <partial name="~/Views/Home/_ConfiguracionInicial.cshtml" />
       }
       else if (ViewBag.unidad <= 0)
       {
            <partial name="~/Views/Home/_UnidadInicial.cshtml" />
       }
       else if (ViewBag.stock <= 0)
       {
            <partial name="~/Views/Home/_StockInicial.cshtml" />      
       }
    }
</div>