@{
    ViewData["Title"] = "Index";
}

<h4>Clientes fiscal</h4>
<!--botonera-->
<div class="row mb-2">
    <div class="col-lg-12">
        <input type="button" value="Nuevo" class="btn-sm btn-primary" data-toggle="modal" data-target="#modalCliente" onclick="clearData()" />
    </div>
</div>
<!--TABLA-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body" id="tableData"></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header bg-dark">
                <h3 class="text-light">Registro cliente fiscal</h3>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <input type="hidden" class="form-control data" id="iidcliente" name="iidcliente" />
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control data requerid" placeholder="Escribe el nombre del cliente" id="nombrecompleto" name="nombrecompleto" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>Dirección:</label>
                                <input type="text" class="form-control data requerid" id="direccion" name="direccion" placeholder="Direccion del cliente" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>Registro:</label>
                                <input type="text" class="form-control data requerid" id="registro" name="registro" placeholder="No. Registro" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>Giró:</label>
                                <input type="text" class="form-control data requerid" id="giro" name="giro" placeholder="Escribe el giro" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>NIT:</label>
                                <input type="text" class="form-control data requerid" id="nit" name="nit" placeholder="No. NIT" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="button" class="btn-sm btn-primary" id="btnGuardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/Inputmask-5.x/dist/inputmask.js"></script>
<script src="~/lib/Inputmask-5.x/dist/jquery.inputmask.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/js/PeticionesAJX/cliente.js" asp-append-version="true"></script>

