CREATE DATABASE db_a89d52_ferreteriadyval
GO
USE [db_a89d52_ferreteriadyval]
GO
CREATE TABLE [dbo].[BITACORAENTRADA](
	[IIDBOTACORABODEGA] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDENTRADA] [bigint] NOT NULL,
	[IIDPRODUCTO] [bigint] NOT NULL,
	[IIDBODEGA] [int] NOT NULL,
	[IIDSTOCK] [int] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[SUBCANTIDAD] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDBOTACORABODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[BITACORASISTEMA](
	[IIDBITACORASISTEMA] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDUSUARIO] [int] NOT NULL,
	[DESCRIPCIONBITACORA] [varchar](200) NULL,
	[FECHAACTIVIDAD] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDBITACORASISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[BODEGA](
	[IIDBODEGA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREBODEGA] [varchar](100) NOT NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CLIENTE](
	[IIDCLIENTE] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRECOMPLETO] [varchar](200) NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[REGISTRO] [varchar](200) NOT NULL,
	[GIRO] [varchar](200) NOT NULL,
	[NIT] [varchar](20) NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[CONFIGURACION](
	[IIDCONFIGURACION] [int] IDENTITY(1,1) NOT NULL,
	[INICIOFACTURA] [bigint] NOT NULL,
	[FINFACTURA] [bigint] NOT NULL,
	[NOACTUALFACTURA] [bigint] NOT NULL,
	[INICIOCOTIZACION] [bigint] NOT NULL,
	[FINCOTIZACION] [bigint] NOT NULL,
	[NOACTUALCOTIZACION] [bigint] NOT NULL,
	[NODIGITOSFACTURA] [int] NOT NULL,
	[NODIGITOSCOTIZACION] [int] NOT NULL,
	[INICIOCREDITOFISCAL] [bigint] NOT NULL,
	[FINCREDITOFISCAL] [bigint] NOT NULL,
	[NOACTUALCREDITOFISCAL] [bigint] NOT NULL,
	[NODIGITOSCREDITOFISCAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDCONFIGURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[COTIZACION](
	[IIDCOTIZACION] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHACREACION] [date] NOT NULL,
	[FECHAVENCIMIENTO] [date] NOT NULL,
	[COTIZACIONFACTURADA] [varchar](1) NULL,
	[BHABILITADO] [varchar](1) NULL,
	[IIDUSUARIO] [int] NOT NULL,
	[TOTAL] [decimal](16, 4) NULL,
	[NOMBRECLIENTE] [varchar](100) NULL,
	[COTIZACIONEMITIDA] [varchar](2) NULL,
	[NOCOTIZACION] [varchar](30) NOT NULL,
	[PORCENTAJEDESCUENTOGLOBAL] [int] NULL,
	[DESCUENTOGLOBAL] [decimal](16, 4) NULL,
	[TOTALCOMISION] [decimal](16, 4) NULL,
	[TOTALDESCUENTO] [decimal](16, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDCOTIZACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[DETALLECOTIZACION](
	[IIDDETALLECOTIZACIO] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDCOTIZACION] [bigint] NOT NULL,
	[IIDPRODUCTO] [bigint] NOT NULL,
	[PRECIOACTUAL] [decimal](16, 4) NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[PORCENTAJEDESCUENTO] [int] NOT NULL,
	[DESCUENTO] [decimal](16, 4) NULL,
	[PORCENTAJECOMISION] [int] NOT NULL,
	[COMISION] [decimal](16, 4) NULL,
	[SUBTOTAL] [decimal](16, 4) NULL,
	[FECHAVENCIMIENTO] [date] NOT NULL,
	[BHABILITADO] [varchar](1) NULL,
	[ESSUBPRODUCTO] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDDETALLECOTIZACIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DETALLEPEDIDO](
	[IIDDETALLEPEDIDO] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDFACTURA] [bigint] NOT NULL,
	[IIDPRODUCTO] [bigint] NOT NULL,
	[PRECIOACTUAL] [decimal](16, 4) NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[PORCENTAJEDESCUENTO] [int] NOT NULL,
	[DESCUENTO] [decimal](16, 4) NULL,
	[PORCENTAJECOMISION] [int] NOT NULL,
	[COMISION] [decimal](16, 4) NULL,
	[SUBTOTAL] [decimal](16, 4) NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
	[ESSUBPRODUCTO] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDDETALLEPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[EMPLEADO](
	[IIDEMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRECOMPLETO] [varchar](max) NOT NULL,
	[EDAD] [int] NOT NULL,
	[TELEFONO] [int] NULL,
	[DUI] [varchar](10) NOT NULL,
	[FECHACREACION] [date] NULL,
	[EMPLEADOTIENEUSUARIO] [varchar](1) NOT NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[ENTRADA](
	[IIDENTRADA] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDPRODUCTO] [bigint] NOT NULL,
	[EXISTENCIASPRODUCTO] [bigint] NOT NULL,
	[FECHAEXPEDICIONCCF] [datetime] NULL,
	[FECHAINICIOCREDITO] [datetime] NULL,
	[FECHAVENCIMIENTO] [datetime] NULL,
	[CONDICIONVENTA] [varchar](max) NULL,
	[NUMEROCCF] [varchar](200) NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
	[PROVEEDOR] [varchar](200) NULL,
	[PRECIOCOMPRA] [decimal](16, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDENTRADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[FACTURA](
	[IIDFACTURA] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDUSUARIO] [int] NOT NULL,
	[TIPOCOMPRADOR] [varchar](100) NOT NULL,
	[NOMBRECLIENTE] [varchar](200) NOT NULL,
	[DIRECCION] [varchar](200) NULL,
	[REGISTRO] [varchar](200) NULL,
	[GIRO] [varchar](200) NULL,
	[NIT] [varchar](20) NULL,
	[TOTAL] [decimal](16, 4) NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
	[FECHACREACION] [date] NOT NULL,
	[FACTURAEMITIDA] [varchar](2) NOT NULL,
	[NOFACTURA] [varchar](30) NOT NULL,
	[TOTALCOMISION] [decimal](16, 4) NOT NULL,
	[TOTALDESCUENTO] [decimal](16, 4) NOT NULL,
	[PORCENTAJEDESCUENTOGLOBAL] [int] NOT NULL,
	[DESCUENTOGLOBAL] [decimal](16, 4) NOT NULL,
	[EFECTIVO] [decimal](16, 4) NULL,
	[CAMBIO] [decimal](16, 4) NULL,
	[ORIGINAL] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[INVENTARIO](
	[IIDINVENTARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDBODEGA] [int] NOT NULL,
	[IIDPRODUCTO] [bigint] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
	[IIDSTOCK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDINVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PAGINA](
	[IIDPAGINA] [int] IDENTITY(1,1) NOT NULL,
	[MENSAJE] [varchar](50) NOT NULL,
	[ACCION] [varchar](50) NOT NULL,
	[CONTROLADOR] [varchar](50) NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
	[ICONO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDPAGINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PAGINATIPOUSUARIO](
	[IIDPAGINATIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IIDPAGINA] [int] NOT NULL,
	[IIDTIPOUSUARIO] [int] NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDPAGINATIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[PRODUCTO](
	[IIDPRODUCTO] [bigint] IDENTITY(1,1) NOT NULL,
	[IIDUNIDADMEDIDA] [int] NOT NULL,
	[CODIGOPRODUCTO] [varchar](15) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[EXISTENCIAS] [bigint] NULL,
	[PRECIOCOMPRA] [decimal](16, 4) NULL,
	[IVA] [decimal](16, 4) NULL,
	[PORCENTAJEGANANCIA] [int] NOT NULL,
	[GANANCIA] [decimal](16, 4) NULL,
	[PRECIOVENTA] [decimal](16, 4) NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
	[IIDSTOCK] [int] NOT NULL,
	[SUBUNIDAD] [int] NULL,
	[SUBPRECIOUNITARIO] [decimal](16, 4) NULL,
	[SUBIVA] [decimal](16, 4) NULL,
	[SUBPORCENTAJE] [int] NULL,
	[SUBGANANCIA] [decimal](16, 4) NULL,
	[SUBPRECIOVENTA] [decimal](16, 4) NULL,
	[EQUIVALENCIA] [decimal](16, 4) NULL,
	[SUBEXISTENCIA] [decimal](16, 4) NULL,
	[RESTANTES] [decimal](16, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[STOCK](
	[IIDSTOCK] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRESTOCK] [varchar](50) NOT NULL,
	[FECHACREACION] [date] NOT NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDSTOCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[TIPOUSUARIO](
	[IIDTIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRETIPOUSUARIO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDTIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UNIDADMEDIDA](
	[IIDUNIDADMEDIDA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREUNIDAD] [varchar](30) NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDUNIDADMEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USUARIO](
	[IIDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IIDEMPLEADO] [int] NOT NULL,
	[IIDTIPOUSUARIO] [int] NOT NULL,
	[NOMBREUSUARIO] [varchar](20) NOT NULL,
	[CONTRASEÑA] [varchar](max) NOT NULL,
	[FECHACREACION] [date] NULL,
	[BHABILITADO] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IIDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BITACORAENTRADA]  WITH CHECK ADD FOREIGN KEY([IIDENTRADA])
REFERENCES [dbo].[ENTRADA] ([IIDENTRADA])
GO
ALTER TABLE [dbo].[BITACORASISTEMA]  WITH CHECK ADD FOREIGN KEY([IIDUSUARIO])
REFERENCES [dbo].[USUARIO] ([IIDUSUARIO])
GO
ALTER TABLE [dbo].[COTIZACION]  WITH CHECK ADD FOREIGN KEY([IIDUSUARIO])
REFERENCES [dbo].[USUARIO] ([IIDUSUARIO])
GO
ALTER TABLE [dbo].[DETALLECOTIZACION]  WITH CHECK ADD FOREIGN KEY([IIDCOTIZACION])
REFERENCES [dbo].[COTIZACION] ([IIDCOTIZACION])
GO
ALTER TABLE [dbo].[DETALLECOTIZACION]  WITH CHECK ADD FOREIGN KEY([IIDPRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([IIDPRODUCTO])
GO
ALTER TABLE [dbo].[DETALLEPEDIDO]  WITH CHECK ADD FOREIGN KEY([IIDFACTURA])
REFERENCES [dbo].[FACTURA] ([IIDFACTURA])
GO
ALTER TABLE [dbo].[DETALLEPEDIDO]  WITH CHECK ADD FOREIGN KEY([IIDPRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([IIDPRODUCTO])
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD FOREIGN KEY([IIDPRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([IIDPRODUCTO])
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([IIDUSUARIO])
REFERENCES [dbo].[USUARIO] ([IIDUSUARIO])
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD FOREIGN KEY([IIDBODEGA])
REFERENCES [dbo].[BODEGA] ([IIDBODEGA])
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD FOREIGN KEY([IIDPRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([IIDPRODUCTO])
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD FOREIGN KEY([IIDSTOCK])
REFERENCES [dbo].[STOCK] ([IIDSTOCK])
GO
ALTER TABLE [dbo].[PAGINATIPOUSUARIO]  WITH CHECK ADD FOREIGN KEY([IIDPAGINA])
REFERENCES [dbo].[PAGINA] ([IIDPAGINA])
GO
ALTER TABLE [dbo].[PAGINATIPOUSUARIO]  WITH CHECK ADD FOREIGN KEY([IIDTIPOUSUARIO])
REFERENCES [dbo].[TIPOUSUARIO] ([IIDTIPOUSUARIO])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IIDSTOCK])
REFERENCES [dbo].[STOCK] ([IIDSTOCK])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IIDUNIDADMEDIDA])
REFERENCES [dbo].[UNIDADMEDIDA] ([IIDUNIDADMEDIDA])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IIDEMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([IIDEMPLEADO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IIDTIPOUSUARIO])
REFERENCES [dbo].[TIPOUSUARIO] ([IIDTIPOUSUARIO])
GO
